<feed xmlns:app="http://www.w3.org/2007/app" xmlns:bibframe="http://bibframe.org/vocab/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:drm="http://librarysimplified.org/terms/drm" xmlns:opds="http://opds-spec.org/2010/catalog" xmlns:schema="http://schema.org/" xmlns:simplified="http://librarysimplified.org/terms/" xmlns="http://www.w3.org/2005/Atom">
  <id><%= request.original_url %></id>
  <title>Columbia University Internet Archive EBooks (<%= @ia_feed_id %>)</title>
  <updated><%= Time.now.iso8601 %></updated>

  <link href="<%= feeds_ia_url(@ia_feed_id) %>" rel="self"/>
